{% if doc.title=="Safety Violation" %}
<style>

    /* Specifically target the letterhead wrapper if space persists */
    .print-format table, .print-format tr, 
    .print-format td, .print-format div, .print-format p {
        font-weight: 500;
        vertical-align: middle;
        line-height: 100%;
        font-size: 14px !important;
    }

    .print-format th {
        font-size: 10px !important;
    }

    @media screen {
        .print-format {
            padding: 0.30in;
            min-height: 11.7in;
        }
    }

    .header-img img{
        width:100%;
    }

    .footer-img img{
        width:100%;
    }
    body {
    margin:0 !important;
    padding:0 !important;
}
</style>


{% set company = frappe.get_doc("Company", doc.company) %}
{% set employee = frappe.get_doc("Employee", doc.employee) %}
{% set letter_head = frappe.get_doc("Letter Head", company.default_letter_head) %}



<!-- HEADER SECTION -->

<div id="header-html">

    {% if letter_head.image %}
    <div class="header-img">
        <img src="{{ letter_head.image }}">
    </div>
    {% endif %}

</div>



<!-- MAIN CONTENT -->

<div class="print-format">
<br><br>
<div style="justify-content:space-between; 
font-family:'Times New Roman', Times, serif; font-weight:bold;">

<div>
<b>{{ frappe.utils.formatdate(frappe.utils.nowdate(), "dd/MM/yyyy") }}</b>
</div>

<div>
<b>Ref: {{ doc.name }}</b>
</div>

</div>
<br><br>


<p>
<b>To,<br>

{{ employee.employee_name }},<br>

Employee ID No. {{ employee.name }}</b>
</p>

<br>

<p>
<strong>Subject: Warning Letter for Safety Violation.</strong>
</p>
<br>

<p>
Dear {% if employee.salutation %}{{ employee.salutation }}. {% endif %}{{ employee.employee_name }}
</p>
<br>

<p>
This is to inform you that you have violated company safety rules on {{doc.incident_details}} such actions are unsafe and against company policy.
</p>
<br>
<p>
You are advised to strictly follow all safety procedures and guidelines at all times. Safety is a top priority, and any negligence can lead to serious consequences.
</p>
<br>
<p>
Please note that repetition of such violations will result in strict disciplinary action, which may include termination of employment.
</p>
<br>
<p>
We expect your immediate improvement.
</p>



<br>

<p>
For <b>{{ company.company_name }}</b>
</p>

<br><br>

<p>
<strong>{% if doc.hr_salutation %}
{{ doc.hr_salutation }}. {{ frappe.db.get_value("User", doc.hr_manager, "full_name") }}
{% else %}
{{ frappe.db.get_value("User", doc.hr_manager, "full_name") }}
{% endif %}<br>
HR Manager</strong>
</p>



<br><br><br>

<div style="margin-top:40px; width:300px; margin-left:auto; font-family:'Times New Roman', Times, serif;">

<p><b><u>Acknowledged &amp; accepted:</u></b></p>

<p><strong>Name:</strong> {{ employee.employee_name }}</p>

<p><strong>Date: </strong>{{ frappe.utils.formatdate(frappe.utils.nowdate(), "dd/MM/yyyy") }}</p>

<p><strong>Sign:</strong></p>

</div>

</div>



<!-- FOOTER SECTION -->

<div id="footer-html">

    {% if letter_head.footer_image %}
    <div class="footer-img">
        <img src="{{ letter_head.footer_image }}">
    </div>
    {% endif %}

</div>
{% else %}
<div style="text-align:center; padding:40px; font-family:Helvetica;">
    <h3 style="color:#d9534f;">Incorrect Print Format Selected</h3>
    <p>
        This print format is designed only for the <strong>Safety Violation</strong>.
    </p>
    <p>
        Please select the correct print format to generate the document properly.
    </p>
</div>
{% endif %}