[flake8]
max-line-length = 250
max-complexity = 12
exclude =
    .git,
    __pycache__,
    node_modules,
    *.pyc,
    dist,
    build,
    *.egg-info,
    .eggs,
    .tox,
    .venv,
    env
ignore =
    E101,
    W191,
    E121,
    E122,
    E123,
    E124,
    E125,
    E126,
    E127,
    E128,
    E129,
    E131,
    W503,
    W504,
    E226,
    E231,
    E241,
    E251,
    E261,
    E262,
    E265,
    E266,
    E271,
    E272,
    E301,
    E302,
    E303,
    W391,
    E401,
    E711,
    E712,
    E721,
    E722,
    W291,
    W292,
    W293,
    W391,
    W503,
    W504,
    C901,
    F401,
    F403,
    F405,
    F811,
    F841,
    I100,
    I101,
    I201,
    I202
per-file-ignores =
    __init__.py:F401
