{% if doc.title=="Diesel Theft" %}
<style>

    /* Specifically target the letterhead wrapper if space persists */
    .print-format table, .print-format tr, 
    .print-format td, .print-format div, .print-format p {
        font-family: Helvetica;
        font-weight: 500;
        vertical-align: middle;
        line-height: 100%;
        font-size: 14px !important;
    }

    .print-format th {
        font-size: 10px !important;
    }

    @media screen {
        .print-format {
            padding: 0.30in;
            min-height: 11.7in;
        }
    }

    .header-img img{
        width:100%;
    }

    .footer-img img{
        width:100%;
    }
    body {
    margin:0 !important;
    padding:0 !important;
}
</style>


{% set company = frappe.get_doc("Company", doc.company) %}
{% set employee = frappe.get_doc("Employee", doc.employee) %}
{% set letter_head = frappe.get_doc("Letter Head", company.default_letter_head) %}



<!-- HEADER SECTION -->

<div id="header-html">

    {% if letter_head.image %}
    <div class="header-img">
        <img src="{{ letter_head.image }}">
    </div>
    {% endif %}

</div>



<!-- MAIN CONTENT -->

<div class="print-format">
<br><br>
<div style="justify-content:space-between; 
font-family:'Times New Roman', Times, serif; font-weight:bold;">

<div>
<b>{{ frappe.utils.formatdate(frappe.utils.nowdate(), "dd/MM/yyyy") }}</b>
</div>

<div>
<b>Ref: {{ doc.name }}</b>
</div>

</div>
<br><br>


<p>
<b>To,<br>

{{ employee.employee_name }},<br>

Employee ID No. {{ employee.name }}</b>
</p>

<br>

<p>
<strong>Subject: Warning Letter for Diesel Theft</strong>
</p>
<br>

<p>
Dear {% if employee.salutation %}{{ employee.salutation }}. {% endif %}{{ employee.employee_name }}
</p>
<br>

<p>
This letter is to formally address a confirmed incident of diesel theft that took place in the company.
</p>
<br>
<p>
Following an internal investigation, it has been verified that you were involved in diesel theft while the vehicle was under your control. The FMSI system and fuel reports showed unusual fuel usage during your duty time.
</p>
<br>
<p>
Such conduct constitutes a serious violation of company policies and professional ethics and is also negatively affecting the company’s image in front of clients. As a result, you are hereby issued a warning for your involvement in diesel theft.
</p>
<br>
<p>
You are strictly advised to avoid any such behaviour in the future. Any recurrence of similar misconduct will lead to police complaint, legal actions and immediate termination of your employment.
</p>



<br>

<p>
For <b>{{ company.company_name }}</b>
</p>

<br><br>

<p>
<strong>{% if doc.hr_salutation %}
{{ doc.hr_salutation }}. {{ frappe.db.get_value("User", doc.hr_manager, "full_name") }}
{% else %}
{{ frappe.db.get_value("User", doc.hr_manager, "full_name") }}
{% endif %}<br>
HR Manager</strong>
</p>



<br><br><br>

<div style="margin-top:40px; width:300px; margin-left:auto; font-family:'Times New Roman', Times, serif;">

<p><b><u>Acknowledged &amp; accepted:</u></b></p>

<p><strong>Name:</strong> {{ employee.employee_name }}</p>

<p><strong>Date: </strong>{{ frappe.utils.formatdate(frappe.utils.nowdate(), "dd/MM/yyyy") }}</p>

<p><strong>Sign:</strong></p>

</div>

</div>



<!-- FOOTER SECTION -->

<div id="footer-html">

    {% if letter_head.footer_image %}
    <div class="footer-img">
        <img src="{{ letter_head.footer_image }}">
    </div>
    {% endif %}

</div>
{% else %}
<div style="text-align:center; padding:40px; font-family:Helvetica;">
    <h3 style="color:#d9534f;">Incorrect Print Format Selected</h3>
    <p>
        This print format is designed only for the <strong>Diesel Theft</strong>.
    </p>
    <p>
        Please select the correct print format to generate the document properly.
    </p>
</div>
{% endif %}